<style>
  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th,
  td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
</style>
{% extends "home/layout.html" %}
<!---->
{% block content %}

<div class="action-container">
  <table class="action-container__table">
    <thead>
      <tr>
        <td><b>생성 시각</b></td>
        <td>
          <b><a href="/tag/view">태그</a></b>
        </td>
        <td><b>행동</b></td>
        <td><b>메모</b></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for action in actions %}
      <tr>
        <td>{{action.created_time | date:'m/d H:i'}}</td>
        <td>{{action.tag.all | join:", "}}</td>
        <td><a href="/action/edit/{{action.id}}">{{action.title}}</a></td>
        <td>{{action.memo}}</td>
        <td><a href="/action/delete/{{action.id}}" +>Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
